.game-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 140px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    transform: scale(1) translateX(280px) translateY(-230px) rotate(15deg);
    right: 25px;
}

.pick-card {
    animation: pick-card-animation 1.5s ease-in-out;
    transform: scale(1) translateX(280px) translateY(-230px) rotate(15deg);
 }

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.33);
    }
    66% {
        transform: scale(1.66);
    }
    100% {
        transform: scale(1) translateX(280px) translateY(-230px) rotate(15deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.add-btn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    right: 150px;
    left: 150px;
    bottom: 32px;
}