.bg-add-dialog ::ng-deep {
    background-color: rgb(23, 23, 23);
    color: white;
}

h1 {
    color: white;
}

button {
    background-color: rgb(42, 69, 42);
}

.label-input {
    color: white;
}

